# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
venv/
# Distribution / packaging
.eggs/
*.egg-info/
dist/
build/
# Editors
.vscode/
.idea/
# Pytest
.pytest_cache/
# Poetry
.poetry/
# Other
*.log
*.sqlite3
